.small-button{
    padding: 8px 16px;
    display: flex;
    align-items: center;
    gap: 8px;
    font-size: 16px;
    font-weight: 400;
    border: none;
    border-radius: 8px;
}
.medium-button{
    width: 200px;
    margin-top: 50px;
    padding: 8px;
    font-size: 16px;
    font-weight: 400;
    border: none;
    border-radius: 20px;
}
.large-button{
    width: 100%;
    padding: 12px;
    font-size: 16px;
    font-weight: 700;
    border: none;
    border-radius: 8px;
}
.text-button{
    background: none;
    color: var(--gray-2);
    font-size: 13px;
    border: none;
}
.primary-button{
    background-color: var(--primary);
    color: var(--white);
}
.white-button{
    background-color: var(--white);
    color: var(--primary);
}